.bg-5d {
    background-color: #5D5C61;
}

.bg-37 {
    background-color: #379683;
}

.bg-73 {
    background-color: #7395AE;
}

.bg-55 {
    background-color: #557A95;
}

.bg-b1a {
    background-color: #B1A296;
}

.color-5d {
    color: #5D5C61;
}

.color-37 {
    color: #379683;
}

.color-73 {
    color: #7395AE;
}

.color-55 {
    color: #557A95;
}

.color-b1a {
    color: #B1A296;
}

.color-white {
    color: white;
}
