.bg-5d {
  background-color: #5d5c61;
}

.bg-37 {
  background-color: #379683;
}

.bg-73 {
  background-color: #7395ae;
}

.bg-55 {
  background-color: #557a95;
}

.bg-b1a {
  background-color: #b1a296;
}

.color-5d {
  color: #5d5c61;
}

.color-37 {
  color: #379683;
}

.color-73 {
  color: #7395ae;
}

.color-55 {
  color: #557a95;
}

.color-b1a {
  color: #b1a296;
}

.color-white {
  color: white;
}
