.flx {
  display: flex;
}

.jsc-between {
  justify-content: space-between;
}

.m-none {
  margin: 0;
}

.m-center {
  margin: auto;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-top-20 {
  margin-top: 20px;
}

.pad-5 {
  padding: 5px;
}

.pad-10 {
  padding: 10px;
}

.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.size-20 {
  height: 30px;
  width: 460px;
}

.w-400 {
  width: 400px;
}

.wrap {
  flex-wrap: wrap;
}

.meal {
  margin: 30px 10px;
  width: 50%;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 1px;
  padding: 30px;
  background-color: rgb(230, 233, 206);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.m-left {
  margin-left: 50px;
}

.listOfMeals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  text-decoration: none;
  padding-bottom: 30px;
  margin-top: auto;
  font-weight: 900;
  padding-left: 10px;
  color: white;
}

.image {
  border: 30px solid rgb(198, 203, 233);
}

.cuisine {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 22px;
}

.diet {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 22px;
}

.health {
  padding: 10px 0;
  text-transform: capitalize;
  line-height: 35px;
  font-size: 22px;
}

.suggested {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 22px;
}

.dishlist {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 22px;
}

.foodinfo {
  background-color: rgb(145, 149, 163);
}

.ing {
  margin-left: 2px;
}

.ingredients {
  margin-left: 20px;
  line-height: 30px;
  padding: 15px;
  font-size: 22px;
}

.link {
  padding-left: 34px;
  font-size: 22px;
  text-decoration: none;
}
